extends ../base_layout

block scripts 

block content

  if portfolios.length > 0
    div(class="container")
      h1#Game-name= `Game: ${gameName}`
      br
      if endGame
        h2(style="color:Dodgerblue;") The game is over. The winner of the game is #{portfolios[0].user_name}! Congratulations!
      else
        h3(style="color:Dodgerblue;") This game ends on #{gameTime}
      br
      div(class="table-responsive")
      table(class="table table-bordered table-hover")
        thead 
          tr
            th(scope="col") Position
            th(scope="col") User
            th(scope="col") Portfolio Name
            th(scope="col") Total Return
            //th(scope="col") Total Portfolio Value
        tbody
          each row, index in portfolios
            tr(id=`${row.user_id}`)
              td= index + 1
              td= row.user_name
              td= row.name
              td(class=row.yield >= 0 ? "text-success" : "text-danger")= `${Number.parseFloat(row.yield).toFixed(2)}%`
      br
      div(class="table-responsive")
        table(class="table table-bordered table-hover")
          thead 
            tr
              th(scope="col") Position
              th(scope="col") User
              th(scope="col") Portfolio Name
              th(scope="col") Cash
              //th(scope="col") Total Portfolio Value
          tbody
            each row, index in portfolios
              tr(id=`${row.user_id}`)
                td= index + 1
                td= row.user_name
                td= row.name
                td= `$${Number.parseFloat(row.cash).toFixed(2)}`
                //td= `$${(Number.parseFloat(holdings[index].total) + Number.parseFloat(row.cash)).toFixed(2)}`
      br
  else 
    div(class="container")
      h3#cash= `Available cash: $${cash}`
      h3(style="color:Dodgerblue;") This game ends on #{gameTime}
      p Portfolio for this game is Empty
  
  script.
    let dollarUS = Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
    });

