extends base_layout

block scripts 

block content

  if portfolios.length > 0
    div(class="container")
      h1#Game-name= `Game: ${gameName}`
      br
      div(class="table-responsive")
        table(class="table table-bordered table-hover")
          thead 
            tr
              th(scope="col") Position
              th(scope="col") User
              th(scope="col") Portfolio Name
              th(scope="col") Cash
              //th(scope="col") Total Portfolio Value
          tbody
            each row, index in portfolios
              tr(id=`${row.user_id}`)
                td= index + 1
                td= row.user_id
                td= row.name
                td= `$${Number.parseFloat(row.cash).toFixed(2)}`
                //td= `$${(Number.parseFloat(holdings[index].total) + Number.parseFloat(row.cash)).toFixed(2)}`
      br
  else 
    div(class="container")
      h4#cash= `Available cash: $${cash}`
      p Portfolio for this game is Empty
  
  script.
    let dollarUS = Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
    });

